<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
</head>
<body>
<form action="/saveEmployee" method="POST">

    <label>FullName</label>
    <input type="text" name="hp" class="form-control" placeholder="Enter Full names">
    <br>
    <br>
    <label>KraPin</label>
    <input type="text" name = "form_kra_pin_number" class="form-control"placeholder="Enter Kra Pin">
    <br>
    <br>
    <label>Department</label>
    <input type="text" name="form_department" class="form-control" placeholder="Enter Department">
    <br>
    <br>
    <label>Position</label>
    <input type="text" name ="form_position" class="form-control" placeholder="Position">
    <br>
    <br>
    <label>Basic Salary</label>
    <input type="number" class="form-control" name="form_basic_salary" placeholder="Enter Basic Salary">
    <br>
    <br>
    <label>House Allowance</label>
    <input type="number" name="form_house_allowance" class="form-control" placeholder="Enter House Allowance">
    <br>
    <br>

  <button type="submit" class="btn btn-primary">Add Employee</button>
</form>
</body>
</html>